
/*---------------------------------------------------------------------Colors*/

nav {
    background-color: #800020;
}

#dropdown-target {
    background-color: #800020;
}

.tag-div, .gallery-footer {
    background-color: #800020;
    color: #ffffff;
}

.top-centre {
    color: #ffffff;
}

.membership {
    background-color: #800020;
    color: #ffffff;
}

.price {
    background-color: #ffffff;
    color: #800020;
}

.price-2 {
    background-color: #ffffff;
    color: #800020;
}

.price-3 {
    background-color: #ffffff;
    color: #800020;
}

.bronze {
    color: #cd7f32; 
}

.silver {
    color: #aaa9ad;
}

.gold {
    color: #ffd700;
}
/*---------------------------------------------------------------------Images*/

.home-hero {
    width: 360px;
    height: 560px;
    margin-left: -15px;
}

.container {
  position: relative;
  text-align: center;
}

.top-centre {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 35px;
}

.gallery-img {
position: relative;
width: 360px;
height: 221px;
}


/*---------------------------------------------------------------------Header*/

.nav-item {
    text-align: center;
}

nav {
    height: 60px;
    width: 100%;
    z-index: 999;
}

.navbar-brand {
    font-size: 150%;
}

#dropdown-target {
    margin-top: 5px;
}


/*---------------------------------------------------------------------General*/

.tag-div {
    font-size: 30px;
    text-align: center;
    height: 120px;
}

.membership {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 260px;
    height: 480px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tier-icon {
    margin-left: 65px;
    font-size: 100px;
    margin-top: 10px;
}

.sub-title {
    text-align: center;
    font-size: 26px;
}

.sub-benifits {
    text-align: center;
    font-size: 18px;
}

.price {
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
}

.price-2 {
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 48px;
}

.price-3 {
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 18px;
}
/*---------------------------------------------------------------------footer*/

.home-sale {
    font-size: 38px;
}

.gallery-footer {
    height: 80px;
    width: 100%;
}

